@{
    ViewData["Title"] = "RePsychle";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <img src="~/img/grey_logo.png"></h1>
    <blockquote>This website was created behind the idea of being able to determine if the products you use are good for the environment or not!</blockquote>
    <h2>Why?</h2>
    <blockquote>
        I've always been concerned with the way that I would be forced to throw away certain items that could either be recycleable or not.
        This is a major concern, as specific materials seem to recycleable... they are in fact not by simply putting these items in the 'blue bins'
    </blockquote>
    <a href="https://www.greenlivingtips.com/articles/recycling-by-the-numbers.html"><img src="~/img/recycle-numbers.gif"/></a>
    
</div>
