@{
    ViewData["Title"] = "RePsychle";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <img src="~/img/grey_logo.png"></h1>
    <a href="https://docs.microsoft.com/aspnet/core"><img src="~/img/white_logo.png"></a>
</div>
